---
http_interactions:
- request:
    method: get
    uri: https://api.chainalysis.com/api/kyt/v1/users/e38a7c51-0168-46e8-899e-6ae70acade5c/depositaddresses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - b2ddeb7cff659365f524bced1dd3128c6db2bcb6bf9376670056627979570fe4
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"limit":100,"offset":0,"total":1,"data":[{"address":"0x9AC2B9cF6D5a7f60dFa7f2876a5c581A03e4927E","asset":"ETH"}]}'
  recorded_at: Sat, 11 Jan 2025 09:57:07 GMT
recorded_with: VCR 6.3.1
