---
http_interactions:
- request:
    method: get
    uri: https://api.chainalysis.com/api/kyt/v1/alerts/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - b2ddeb7cff659365f524bced1dd3128c6db2bcb6bf9376670056627979570fe4
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Trace-Id:
      - '7540598186671035542'
    body:
      encoding: ASCII-8BIT
      string: '{"limit":100,"offset":0,"total":0,"data":[]}'
  recorded_at: Sat, 11 Jan 2025 09:59:12 GMT
recorded_with: VCR 6.3.1
