---
http_interactions:
- request:
    method: get
    uri: https://api.chainalysis.com/api/kyt/v2/withdrawal-attempts/f226edb0-675e-3072-9392-6082033979b4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - b2ddeb7cff659365f524bced1dd3128c6db2bcb6bf9376670056627979570fe4
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asset":"BTC","assetId":null,"network":"BITCOIN","address":"1QJUiNsNfji6mR1FjAwf6Eg9NxxHPoxpWL","attemptIdentifier":"cfbe93a6-0fd7-4c59-aa9b-65bc1ab34586","assetAmount":0.10312309,"usdAmount":9544.15,"updatedAt":"2025-01-11T05:21:02.350+00:00","externalId":"f226edb0-675e-3072-9392-6082033979b4"}'
  recorded_at: Sat, 11 Jan 2025 05:21:37 GMT
recorded_with: VCR 6.3.1
