---
http_interactions:
- request:
    method: get
    uri: https://api.chainalysis.com/api/kyt/v2/withdrawal-attempts/f226edb0-675e-3072-9392-6082033979b4/alerts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - b2ddeb7cff659365f524bced1dd3128c6db2bcb6bf9376670056627979570fe4
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"alerts":[{"alertLevel":"SEVERE","service":"SANCTIONED ENTITY: OFAC
        SDN Secondeye Solution 2021-04-15 1QJUiNsNfji6mR1FjAwf6Eg9NxxHPoxpWL","externalId":"d95e9c02-cfdb-11ef-909d-7f91d13dea84","alertAmount":9544.15,"exposureType":"DIRECT","categoryId":3}]}'
  recorded_at: Sat, 11 Jan 2025 05:33:03 GMT
recorded_with: VCR 6.3.1
