---
http_interactions:
- request:
    method: get
    uri: https://api.chainalysis.com/api/kyt/v2/withdrawal-attempts/f226edb0-675e-3072-9392-6082033979b4/high-risk-addresses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Token:
      - b2ddeb7cff659365f524bced1dd3128c6db2bcb6bf9376670056627979570fe4
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"customAddresses":[],"chainalysisIdentifications":[{"addressName":"SANCTIONED
        ENTITY: OFAC SDN Secondeye Solution 2021-04-15 1QJUiNsNfji6mR1FjAwf6Eg9NxxHPoxpWL","description":"Pakistan-based
        Secondeye Solution (SES), also known as Forwarderz, is a synthetic identity
        document vendor that was added to the OFAC SDN list in April 2021.\n\nSES
        customers could buy fake identity documents to sign up for accounts with cryptocurrency
        exchanges, payment providers, banks, and more under false identities. According
        to the US Treasury Department, SES assisted the Internet Research Agency (IRA),
        the Russian troll farm that OFAC designated pursuant to E.O. 13848 in 2018
        for interfering in the 2016 presidential election, in concealing its identity
        to evade sanctions.\n\nhttps://home.treasury.gov/news/press-releases/jy0126","categoryId":3}]}'
  recorded_at: Sat, 11 Jan 2025 05:33:28 GMT
recorded_with: VCR 6.3.1
